.container {
  padding: 20px;
  background: url("../../public/img/backgrounddep4k.jpg") no-repeat center
    center;
  background-size: cover;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.room {
  color: #555;
  margin-bottom: 20px;
}

.questionCard {
  background: rgba(255, 255, 255, 0.2); /* nền trắng 80% trong suốt */
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.questionText {
  font-size: 18px;
  color: #dcfce7;
  margin-bottom: 8px;
}

.score {
  font-size: 14px;
  color: #b4f490;
  margin-bottom: 10px;
}

.answerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.answerHeader {
  display: grid;
  grid-template-columns: 1fr 150px 120px;
  font-weight: bold;
  margin-bottom: 8px;
}

.answerItem {
  display: grid;
  grid-template-columns: 1fr 150px 120px;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.choiceCol,
.correctCol {
  text-align: center;
}

.answerItem.correct {
  background: #3ff883;
  border: 1px solid #22c55e;
}

.answerItem.wrong {
  background: #f87676;
  border: 1px solid #ef4444;
}

.badge {
  color: #16a34a;
  font-weight: bold;
}

.badgeWrong {
  color: #dc2626;
  font-weight: bold;
}
.backButton {
  margin: 10px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.backButton:hover {
  background-color: #0056b3;
}
